*{
    margin: 0;
    padding: 0;
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    border: none;
    list-style: none;
    font-family:cursive;
}
:root {
    --color-one: rgb(46, 58, 68);
}
body{
    width: 50%;
    background-color: var(--color-one);
    margin: auto;
    display: flex;
    justify-content: center;
    align-items: center;
    align-content: center;
    height: 100vh;

}
h1{
    text-transform: uppercase;
    text-align: center;
    margin-bottom: 40px;
    color: rgb(255, 255, 255);
}
.container{
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: var(--color-one);
    padding: 20px;
    border-radius: 10px;
    border: 3px solid rgb(255, 255, 255);
}
.one ,.two ,.three , .four ,.base {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    width: 100%;
}
li{
    display: inline-block;
    background-color: white ;
    margin:20px 15px;
    text-align: center;
    width: 90px;
    padding: 20px;
    height: 80px;
    border-radius: 10px;
    cursor: pointer;
    transition: 0.5s ease-in-out;
    font-size: 30px;
    font-weight: bold;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.6);
}
li:hover{
    background-color: #c6c5c5;
}
.operation{
    background-color: rgb(19, 142, 3);
    color: rgb(255, 255, 255);
    border-radius:40px;
}
.output{
    background-color: white;
    margin-bottom: 30px;
    padding: 10px;
    height: 50px;
    width: 95%;
    border-radius: 15px;
    font-size: 22px;
    font-weight: bold;
    text-align: center;
}
.zero{
    width: 220px;
}
li:hover{
    background-color: rgb(176, 188, 176);
}
.clac:hover{
    background-color: rgb(176, 188, 176);
}

@media (max-width: 1121px) {
    h1{
        font-size: 30px;
    }
    body{
        width: 50%;
        margin: 40px auto;
    }
    h1{
        margin-bottom:30px ;
    }
    .container{
        padding: 20px;
    }
    li{
    margin:17px 13px;
    text-align: center;
    width: 80px;
    padding: 17px;
    height: 70px;
    border-radius: 10px;
    }
    .number-one , .x-mark{
    padding: 15px 20px;
    }
    .output{
        margin-bottom: 30px;
        font-size: 20px;
    }
    .zero{
        width: 190px;
    }
}
@media (max-width: 975px) {
    body{
        margin: 30px auto;
    }
    h1{
        margin-bottom:30px ;
    }
    .container{
        padding: 17px;
    }
    li{
        margin:15px 10px;
        text-align: center;
        width: 70px;
        padding: 12px;
        height: 60px; 
        border-radius: 12px;
    }
    .number-one , .x-mark{
    padding: 17px 21px;
    }
    .output{
        margin-bottom: 25px;
    }
    .zero{
        width: 165px;
    }
}
@media (max-width: 840px) {
    body{
        margin: 25px auto;
        width: 60%;
    }
    h1{
        margin-bottom:10px ;
    }
    .container{
        padding: 17px;
    }
    li{
        font-size: 27px;
        margin: 14px 9px;
        width: 65px;
        border-radius: 8px;
    }
    .number-one , .x-mark{
    padding: 12px 16px;
    }
    .output{
        margin-bottom: 20px;
    }
    .zero{
        width: 155px;
    }
}
@media (max-width: 715px) {
    body{
        margin: 25px auto;
        width: 70%
    }
    h1{
        margin-bottom:10px ;
    }
    .container{
        padding: 35px;
    }
    li{
        margin:13px 8px;
        text-align: center;
        width: 65px;
        height: 60px;
        border-radius: 12px;
    }
    .number-one , .x-mark{
    padding: 12px 16px;
    }
    .output{
        margin-bottom: 20px;
    }
}
@media (max-width: 620px) {
    body{
        width: 80%;
    }
}
@media (max-width: 540px) {
    body{
        width: 85%;
    }
}
@media (max-width: 500px) {
.zero{
    width: 150px;
}
}
@media (max-width: 487px) {
    .container{
        padding: 10px;
    }
    li{
        margin:10px 7px;
        text-align: center;
        width: 70px;
        height: 70px;
    }

    .output{
        margin-bottom: 20px;
    }
    .zero{
        width: 150px;
    }
}
@media (max-width: 442px) {
    body{
        width: 90%;
    }
    h1{
        font-size: 30px;
        margin-bottom:20px ;
    }
    .container{
        padding: 28px;
    }
    li{
        font-size: 22px;
        width: 60px;
        height: 65px;
    }
    .output{
        margin-bottom: 20px;
    }
    .zero{
        width: 140px;
    }
}
@media (max-width: 415px) {
    body{
        width: 95%;
    }
    h1{
        font-size: 28px;
        margin-bottom:25px ;
    }
    .container{
        padding: 20px;
    }
    li{
        font-size: 20px;
        width: 55px;
        height: 60px;
    }
    .output{
        margin-bottom: 15px;
    }
    .zero{
        width: 120px;
    }
}
@media (max-width: 375px) {
    body{
        width: 100%;
    }
    h1{
        font-size: 26px;
        margin-bottom:20px ;
    }
    .container{
        padding: 15px;
    }
    li{
        font-size: 18px;
        width: 50px;
        height: 55px;
    }
    .output{
        margin-bottom: 10px;
    }
    .zero{
        width: 110px;
    }
}
