*{
    margin: 0;
    padding: 0;
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    border: none;
    list-style: none;
}
:root {
    --color-one: rgb(170, 40, 131);
    --color-two: rgb(235, 235, 235);
}
body{
    width: 40%;
    background-color: var(--color-two);
    margin: auto;
    display: flex;
    justify-content: center;
    align-items: center;
    align-content: center;
    height: 100vh;

}
h1{
    text-transform: uppercase;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    text-align: center;
    margin-bottom: 30px;
    color: var(--color-two);
}
.container{
    display: flex;
    flex-direction: column;
    align-items: center;
    background-image: linear-gradient(var(--color-one),rgb(50, 111, 126),rgb(70, 0, 120));
    padding: 50px;
    border-radius: 10px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}
.one ,.two ,.three , .four {
    display: flex;
    justify-content: space-evenly;
    width: 100%;
}
li{
    display: inline-block;
    background-color: var(--color-two);
    margin:5px;
    padding: 20px 30px;
    border-radius: 50%;
    width: 21%;
    cursor: pointer;
    transition: 0.5s ease-in-out;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: 30px;
    font-weight: bold;
}
li:hover{
    background-color: #c6c5c5;
}

.output{
    background-color: var(--color-two);
    margin-bottom: 40px;
    padding: 10px;
    height: 50px;
    width: 80%;
    border-radius: 5px;
    font-size: 22px;
    font-weight: bold;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

@media (max-width: 1106px) {
    body{
        margin: 40px auto;
    }
    h1{
        margin-bottom:20px ;
    }
    .container{
        padding: 40px;
    }
    li{
        padding: 20px 25px ;
    }
    .number-one , .x-mark{
    padding: 20px 26px;
    }
    .output{
        margin-bottom: 30px;
    }
}
@media (max-width: 962px) {
    body{
        margin: 30px auto;
    }
    h1{
        margin-bottom:15px ;
    }
    .container{
        padding: 30px;
    }
    li{
        padding: 17px 20px ;
    }
    .number-one , .x-mark{
    padding: 17px 21px;
    }
    .output{
        margin-bottom: 25px;
    }
}
@media (max-width: 820px) {
    body{
        margin: 25px auto;
    }
    h1{
        margin-bottom:10px ;
    }
    .container{
        padding: 25px;
    }
    li{
        padding: 12px 15px ;
    }
    .number-one , .x-mark{
    padding: 12px 16px;
    }
    .output{
        margin-bottom: 20px;
    }
}

