*{
    margin: 0;
    padding: 0;
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    border: none;
    list-style: none;
}
:root {
    --color-one: rgb(170, 40, 131);
    --color-two: rgb(235, 235, 235);
}
body{
    width: 50%;
    background-color: var(--color-two);
    margin: auto;
    display: flex;
    justify-content: center;
    align-items: center;
    align-content: center;
    height: 100vh;

}
h1{
    text-transform: uppercase;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    text-align: center;
    margin-bottom: 30px;
    color: var(--color-two);
}
.container{
    display: flex;
    flex-direction: column;
    align-items: center;
    background-image: linear-gradient(var(--color-one),rgb(50, 111, 126),rgb(70, 0, 120));
    padding: 50px;
    border-radius: 10px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}
.one ,.two ,.three , .four {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    width: 100%;
}
li{
    display: inline-block;
    background-color: var(--color-two);
    margin:5px;
    text-align: center;
    width: 90px;
    padding: 20px;
    height: 80px;
    border-radius: 20px;
    cursor: pointer;
    transition: 0.5s ease-in-out;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: 30px;
    font-weight: bold;
}
li:hover{
    background-color: #c6c5c5;
}

.output{
    background-color: var(--color-two);
    margin-bottom: 40px;
    padding: 10px;
    height: 50px;
    width: 80%;
    border-radius: 5px;
    font-size: 22px;
    font-weight: bold;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

@media (max-width: 1118px) {
    h1{
        font-size: 30px;
    }
    body{
        width: 50%;
        margin: 40px auto;
    }
    h1{
        margin-bottom:20px ;
    }
    .container{
        padding: 60px;
    }
    li{
    margin:4px;
    text-align: center;
    width: 80px;
    padding: 15px;
    height: 70px; 
    border-radius: 12px;
    }
    }
    .number-one , .x-mark{
    padding: 15px 20px;
    }
    .output{
        margin-bottom: 30px;
        font-size: 20px;
}
@media (max-width: 970px) {
    body{
        margin: 30px auto;
    }
    h1{
        margin-bottom:15px ;
    }
    .container{
        padding: 50px;
    }
    li{
        margin:3px;
        text-align: center;
        width: 70px;
        padding: 10px;
        height: 60px; 
        border-radius: 12px;
    }
    .number-one , .x-mark{
    padding: 17px 21px;
    }
    .output{
        margin-bottom: 25px;
    }
}
@media (max-width: 833px) {
    body{
        margin: 25px auto;
    }
    h1{
        margin-bottom:10px ;
    }
    .container{
        padding: 40px;
    }
    li{
        margin:3px;
        text-align: center;
        width: 60px;
        padding: 9px;
        height: 60px;
        border-radius: 12px;
    }
    .number-one , .x-mark{
    padding: 12px 16px;
    }
    .output{
        margin-bottom: 20px;
    }
}
@media (max-width: 715px) {
    body{
        margin: 25px auto;
    }
    h1{
        margin-bottom:10px ;
    }
    .container{
        padding: 35px;
    }
    li{
        margin:3px;
        text-align: center;
        width: 53px;
        padding: 9px;
        height: 53px;
        border-radius: 12px;
    }
    .number-one , .x-mark{
    padding: 12px 16px;
    }
    .output{
        margin-bottom: 20px;
    }
}
@media (max-width: 660px) {
    body{
        margin: 25px auto;
    }
    h1{
        margin-bottom:10px ;
    }
    .container{
        padding: 35px;
    }
    li{
        margin:3px;
        text-align: center;
        width: 50px;
        padding: 8px;
        height: 50px;
        border-radius: 12px;
    }

    .output{
        margin-bottom: 20px;
    }
}
@media (max-width: 620px) {
    body{
        margin: 25px auto;
    }
    h1{
        margin-bottom:10px ;
    }
    .container{
        padding: 35px;
    }
    li{
        margin:3px;
        text-align: center;
        width: 49px;
        padding: 5px;
        height: 50px;
        border-radius: 12px;
    }

    .output{
        margin-bottom: 20px;
    }
}
@media (max-width: 560px) {
    body{
        margin: 25px auto;
    }
    h1{
        margin-bottom:10px ;
    }
    .container{
        padding: 35px;
    }
    li{
        margin:3px;
        text-align: center;
        width: 45px;
        padding: 6px;
        height: 50px;
        border-radius: 12px;
    }

    .output{
        margin-bottom: 20px;
    }
}
@media (max-width: 540px) {
    body{
        margin: 25px auto;
    }
    h1{
        margin-bottom:10px ;
    }
    .container{
        padding: 35px;
    }
    li{
        margin:3px;
        text-align: center;
        width: 40px;
        padding: 6px;
        border-radius: 10px;
        height: 50px;
    }

    .output{
        margin-bottom: 20px;
    }
}

